html {
  background-color: #222222;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #000000;
  height: 60px;
}

li {
  padding-left: 60px;
  color: white;
  font-family: arial;
  font-size: 24px;
  letter-spacing: 3px;
}

header {
  text-align: center;
  color: white;
  font-family: arial;
  font-size: 64px;
}

iframe {
  border: none;
  width:800px;
  height:450px;
  padding-top: 100px;
}

a {
  text-align: center;
  color: white;
  font-family: arial;
  font-size: 24px;
}

footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: arial;
  font-size: 14px;
}
