* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #222;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #181818;
  border-bottom: 3px #00D8D8 solid;
}

ul {
  list-style: none;
  padding-left: 60px;
  color: white;
  font-family: arial;
  font-size: 24px;
  letter-spacing: 3px;
}

header {
  text-align: center;
  color: white;
  font-family: arial;
  font-size: 64px;
  padding: 20px;
}

iframe {
  border: none;
  width:800px;
  height:450px;
}

p {
  padding: 20px;
}

a:link {
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: arial;
  font-size: 24px;
}

a:visited {
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: arial;
  font-size: 24px;
}

footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: arial;
  font-size: 14px;
}
